body{
    background: #c5e7a8;
}
h1{
    font-size: 50px;
    color: #374e23;
    padding: 10px
}
h2{
    font-size: 30px;
    color: #374e23;
    padding: 10px
}
.content-left{
    background: #8a94df;
    width: 70%;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}
.content-right{
    margin-left: auto;
    margin-right: auto;
    background: #d48adf;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.img1{
    display: flex;
    border-radius: 10px;
}
.header{
    display: block;
    width: 100%;
    padding: 1%;
    background: #cccdd1;
    text-align: right;
}
.pages{
    padding: 20px;
    color: #140308;
    size: 40px;
}
.container {
    background-color: rgb(12, 181, 238);
    padding: 20px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: #e4c5c5;
    margin: 0 auto; 
}

img {
    display: block; 
    margin: 0 auto;
}

.container-2 {
    background-color: lightgreen;
    height: 300px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.block-2 {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f0f0f0; 
    border: 2px solid #000; 
    padding: 10px; 
}
.block-3 {
    width: 200px;
    height: 200px;
    background-color: #007BFF; 
    margin: 20px; 
}
caption {
    font-size: 1.5em;
    margin: 10px;
}

th, td {
    padding: 10px;
    text-align: left; 
}

thead {
    background-color: #2d4edd; 
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #bd9a9a; 
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}
.square-1{
    height:200px;
    width:200px;
    border:2px solid #f1b3e2;
    position:absolute;
    top:100px;
    left:200px;
}
.square-2{
    height:200px;
    width:200px;
    border:2px solid #8ea6c9;
    position:absolute;
    top:250px;
    left:350px;
}
.square-3{
    height:200px;
    width:200px;
    border:2px solid #b7be2e;
    position:absolute;
    top:400px;
    left:500px;
}
.container-4{
    border:5px solid #cab89d;
    position:absolute;
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    height: 600px;
}
.imageCat{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: #b7be2e;
}
label {
    display: block;
    margin-left: 5%;
    align-items: center;
}
input, button{
    display: flex;
    margin: auto;  
    width: 90%;
    margin-bottom: 2px;
    border-radius: 2px;
}
button {
    background-color: #8da83e;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
}
button:hover {
    background-color: #a0d839;
}
.data_entry {
    display: flex;
    margin: auto;    
}


