body{
    background: #c5e7a8;
}
h1{
    font-size: 50px;
    color: #374e23;
    padding: 10px
}
h2{
    font-size: 30px;
    color: #374e23;
    padding: 10px
}
.content-left{
    background: #8a94df;
    width: 70%;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}
.content-right{
    margin-left: auto;
    margin-right: auto;
    background: #d48adf;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.img1{
    display: flex;
    border-radius: 10px;
}
.header{
    display: block;
    width: 100%;
    padding: 1%;
    background: #cccdd1;
    text-align: right;
}
.pages{
    padding: 20px;
    color: #140308;
    size: 40px;
}
.container {
    background-color: rgb(12, 181, 238);
    padding: 20px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: #e4c5c5;
    margin: 0 auto; 
}

img {
    display: block; 
    margin: 0 auto;
}

.container-2 {
    background-color: lightgreen;
    height: 300px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.block-2 {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
}

.container-3 {
    background-color: lightyellow;
    border: 2px solid darkorange;
    padding: 20px;
}
caption {
    font-size: 1.5em;
    margin: 10px;
}

th, td {
    padding: 10px;
    text-align: left; 
}

thead {
    background-color: #2d4edd; 
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #bd9a9a; /
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}
